[submodule "libs/rc-switch-lib"]
	path = libs/rc-switch-lib
	url = https://github.com/latchdevel/rc-switch-lib.git
	branch = main
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
